<div class="post-footer container">
        <ul class="share-buttons social">
                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&t=Richard%20Banks'%20Blog" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                <li><a href="https://twitter.com/intent/tweet?source={{ site.url }}{{ page.url }}&text={{ site.url }}{{ page.url }}&via=rbanks54" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                <li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
                <li><a href="https://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title=Richard%20Banks'%20Blog" target="_blank" title="Submit to Reddit"><i class="fa fa-reddit-square fa-2x"></i></a></li>
                <li><a href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title=Richard%20Banks'%20Blog&summary=&source={{ site.url }}{{ page.url }}" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
            </ul>

<strong>Richard Banks</strong><br />
Richard is a trainer, lecturer, developer, coach, author, architect, Microsoft MVP, and part time sleeper.<br />
He loves helping people solve hard problems quickly and would love to help you too. Get in touch via <a href="http://lnkd.in/fW43nT">LinkedIn</a> or <a href="https://tiwtter.com/rbanks54">Twitter</a> at any time.<br />
</div>
