<div class="post-footer container">
    Comments are turned off because conversations happen on social media these days (sorry, spammers)<br />
    If you want to get in touch about a post, or let others know, use one of these social media icons. <br />
    We'll talk soon!<br/>
    <ul class="share-buttons social">
        <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}&t=Richard%20Banks'%20Blog" target="_blank" title="Share on Facebook"><i class="fa fa-facebook-square fa-2x"></i></a></li>
        <li><a href="https://twitter.com/intent/tweet?source={{ site.url }}{{ page.url }}&text={{ site.url }}{{ page.url }}&via=rbanks54" target="_blank" title="Tweet"><i class="fa fa-twitter-square fa-2x"></i></a></li>
        <li><a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" title="Share on Google+"><i class="fa fa-google-plus-square fa-2x"></i></a></li>
        <li><a href="http://www.reddit.com/submit?url={{ site.url }}{{ page.url }}&title=Richard%20Banks'%20Blog" target="_blank" title="Submit to Reddit"><i class="fa fa-reddit-square fa-2x"></i></a></li>
        <li><a href="http://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ page.url }}&title=Richard%20Banks'%20Blog&summary=&source={{ site.url }}{{ page.url }}" target="_blank" title="Share on LinkedIn"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
    </ul>
</div>
