
.post-header {
  margin-bottom: $base-spacing;
  padding: 5em 2em;
}

.post-title,
.post-meta {
  font-weight: $font-weight-light;

  a {
    text-decoration: none;
    color: $base-font-color;

    &:after {
      content: '➝';
      display: inline-block;
      left: -5px;
      opacity: 0;
      position: relative;
      @include transition(left .15s ease-in-out, opacity .15s ease-in-out);
      top: 0;
    }

    &:hover,
    &:focus,
    &:active {
      color: $primary-color;

      &:after {
        opacity: 1;
        left: 10px;
      }
    }
  }
}

.post-meta {
  font-style: italic;
}

.post-item {
  padding-bottom: $base-spacing;
  margin-bottom: $base-spacing;
  border-bottom: 1px solid lighten($base-border-color, 5%);

  .post-title {
    margin-bottom: 10px;
  }

  .post-meta {
    opacity: .7;
    font-size: .8rem;
  }

  &:last-child {
    border: none;
  }
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

.post-footer {
  @extend %clearfix;
  padding: $base-spacing 0;
  text-align: center;
  padding-top: $base-spacing;
  border-top: $base-border;

  p {
    margin-bottom: 0;
    color: $medium-gray-color;
    float: left;
  }

  .social {
    a {
      @include transition(opacity .15s ease-in-out);
      color: $medium-gray-color;
      text-decoration: none;
      opacity: .5;

      &:hover,
      &:focus,
      &:active {
        opacity: 1;
      }
    }

    .icon {
      font-size: 1.2rem;
    }
  }
}
